/*CSS for menu in menu.php*/


table, tr, th, td {
  border: 2px solid green;
  
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
	
}

th, td {
  padding: 5px;
  text-align: center;
  vertical-align: middle;

}

